.simple-trans-main {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 90%;
  max-width: 600px;
  text-align: center;
  justify-content: center;
  border-top: 0;
  border-left: 2px;
  border-bottom: 0;
  border-right: 2px;
  border-style: dotted;
  border-color: var(--info);
}

.simple-trans-main > div {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0f0f;
  will-change: transform, opacity;
}
